@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
    text-decoration: none !important;
    list-style: none;
}
header .navbar {
    background-color: #0077B6 !important;
    border-radius: 10px !important;
}
header .nav-link{
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
}
header .logo{

    font-weight: 800;
    font-size: 42px;
    color: #ffffff;
    padding: 2% 5% 2% 2%;
    text-decoration: none;
}
h1{
    font-size: 35px;
    font-weight: 600;
     padding: 5% 0% 0% 5%;
    color: #53525c;
}
div .card{
    text-align: center !important;
    font-weight: 700;
}
main .row{
    display: flex;
    justify-content: center;
}
footer {
    background-color: #0077B6;
    margin: 0 auto;
    padding: 0% 10%;
    border-radius: 30px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row !important;
}
img.icons{
    max-width: 50px !important;
    padding: 6px 6px;
    border-radius: 12px;
    background-color: #00B4D8;
}
a.foot-tags{
    color: #ffffff !important;
}
div .info-container{
    display: flex;
    flex-direction: row;
}
div .cards{
    display: flex;
    flex-direction: row;
}